VITE_UPLOAD_POST_API_KEY=sua_api_key_aqui

VITE_GOOGLE_MAPS_API_KEY=sua_chave_aqui
VITE_GOOGLE_MAPS_SERVER_KEY=sua_chave_aqui

VITE_SUPABASE_URL=https://xxxx.supabase.co
VITE_SUPABASE_ANON_KEY=sua_anon_key_aqui
